@import 'node_modules/react-modal-video/scss/modal-video.scss';
@for $i from 1 through 12 {
    .col-#{$i} { width: 100%/12 * $i; }
}

:root {
    --title-bg-color: rgba(0, 26, 255, 0.2);
    --detail-color: rgba(255, 255, 255, 0.7);
    --border-color: rgba(100, 100, 100, 0.5);
}

* {
    margin: 0;
    padding: 0;
    font-size: 25px;
    box-sizing: border-box;
    text-decoration: none;

}
body{
    font-family: sans-serif;
    color: rgb(230, 230, 230);
    min-height: 100vh;
    background-image: linear-gradient(to right, #434343 0%, black 100%);

}

.nav-container{
    width: 100%;
    padding: 0.5rem;
    background-color: rgba(130, 130, 130, 0.2);
}

.nav-bar{
    margin-left: 92px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    
    button, h4, a{
        cursor: pointer;
        transition-duration: 0.4s;
    }
    button{
        
        background-color: transparent;
        border: none;
        font-size:32px;
        color: lightgray;
    }
    button:hover{
        color: white;
    }
    h4{
        padding:5px;
        margin-right: 15px;
        max-width: 130px;
        font-size: 22px;
    }
    
    .nav-bar-middle{
        width: 54%;
        min-width:355px;
        display: flex;
        justify-content: center;

        a, h4{
            color:lightgray;
        }
        a:hover, h4:hover{
            color: cyan;
        }
    }
}

.big-container { 
    min-height: 100vh;
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    a{
        color: lightgray;
    }
}

.anime-container{
    height: 22vh;
    width: 25vw;

    min-width: 400px;
    margin: 1vh;
    border: 1px solid gray;
    display: flex;
    text-align: center;

    img {
        object-fit: cover;
        display:block;
        max-height:100%;
        min-height: 100%;
        min-width:100%;
        max-width: 100%;
    }   
}

img:hover{
    object-fit: contain;
}

#content {
    padding-top: 12px;
    text-align: center;
    margin: auto;
}

.search-bar-container {
    width: 100%;
    text-align: center;
    margin: 1rem 0;

    #search-bar{
        color: lightgray;
        padding: 12px;
        background-color: rgba(240, 240, 240, 0.05);
    }
    #search-bar:hover{
        background-color: rgba(240, 240, 240, 0.15);
    }
    #search-bar::placeholder{
        color: rgba(240, 240, 240, 0.8);
    } 
}

#content h1, h2{ 
    margin:auto;
    width: 80%;
}
#content h1{
    height: 8vh;
    line-height: 26px;
}
#content h2{
    height: 4vh;
}

.anime-container:hover{
    background-image: linear-gradient(to left, #071930 0%, #263c4d 100%);
    cursor: pointer;
}

.detail-container{
    width: 70%;
    height: 100%;
    margin: auto;
    border: 1px solid var(--border-color);
    color: var(--detail-color);

    .detail-sub-container{
        width: 100%;
        height: 100%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    .detail-title{
        width: 100%;
        padding:12px;
        background-color: var(--title-bg-color);
        border-bottom: 1px solid black;

        .title{
            font-size: 28px;
        }
        .sub-title{
            font-size:22px;
            color:rgb(143, 143, 143);
        }
    }

    hr{
        border: 1px solid var(--border-color);
    }

    aside{
        border-right: 1px solid var(--border-color);
        
        padding: 1px;

        h5{
            padding:8px;
            margin-top:12px;
        }

        img{
            width: 95%;
            margin: 2px auto;
        }

        p, p strong{
            font-size: 18px;
        }

        p{
            margin-left:5px;
            line-height: 26px;
            padding:4px;
        }
    }

    section{
        padding: 4px;
        
        .content-nav{
            width: 100%;
            background-color:rgba(255, 255, 255, 0.1);
            padding:12px;
            display: flex;
            justify-content:space-evenly;
            
            div, div strong{
                font-size: 20px;
            }

            .score-container{
                border-right: 1px solid rgb(83, 83, 83);
                display: flex;
                flex-direction: column;
                align-items: center;

                .score{
                    text-transform: uppercase;
                    background-color: var(--title-bg-color);
                    font-size: 12px;
                    font-weight: 700;
                    padding: 2px 14px;
                    border-radius: 8%;
                }
                strong{
                    font-size:30px;
                }
                .votes{
                    font-size: 11px;
                }
            }
            .content-nav-right{
                padding: 20px 8px;

            }
        }
        .synopsis{
            width:95%;
            margin: 20px auto;

            
            h5{
                font-size: 24px;
                padding: 14px 0;
            }
            p{
                padding: 6px 0;
                font-size: 15px;
                letter-spacing: 0.2px;
            }
        }
    }
}
